.namecard {
  background-color: rgb(49, 84, 213);
  color: white;
  width: 220px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;

  display: flex;
  flex-direction: column; /* stack text vertically */
  gap: 6px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* allows next row if space is less */
  gap: 12px;
}
